Team 303's up to date system verification
![sys verif](https://github.com/user-attachments/assets/48a703fc-8086-4da9-90b8-59c30a9d5549)
